<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- package="com.pitstop"> -->

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="PitStop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Pitstop"
        android:usesCleartextTraffic="false">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!-- Disesuaikan ke .ui.login.LoginActivity -->
        <activity
            android:name="com.pitstop.ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Admin -->
        <activity
            android:name="com.pitstop.ui.admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name="com.pitstop.ui.admin.StockBahanActivity"
            android:exported="false" />
        <activity
            android:name="com.pitstop.ui.admin.ResepMinumanActivity"
            android:exported="false" />
        <activity
            android:name="com.pitstop.ui.admin.ProdukMinumanActivity"
            android:exported="false" />
        <activity
            android:name="com.pitstop.ui.admin.KategoriActivity"
            android:exported="false" />
        <activity
            android:name="com.pitstop.ui.admin.StockSteamActivity"
            android:exported="false" />

        <!-- Activity Kasir -->

        <activity
            android:name="com.pitstop.ui.kasir.KasirMainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>